* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Futura;
  font-weight: Bold;
  color: #000;
  background-color: #f5f5fd;
}

.main-content{
  position: absolute;
  left: 7%;
  top:0;
  width: 73%;
  height: 100vh;
}

/* Headers */
.home-header {
  position: absolute;
  top: 1%;
  left: 5%;
  font-size: 50px;
}

.total-sales-header {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 25px;
}

.total-past-header{
  position: absolute;
  top:10%;
  right: 19%;
  color: #A9A9A9;
}


/* Total-sales container */

.total_sales_container {
  width: 100%;
  position: absolute;
  top: 20%;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Sales tall skala */
.sales_numbers_container {
  letter-spacing: 1px;
  color: #A9A9A9;
  font-size: 15px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Uke dagene under søyle diagramen */

 .week {
  color: #A9A9A9;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  position: relative;
  left:1.7%;
}

/* Søyle diagram */
.diagrams_container {
display: flex;
justify-content: space-around;
width: 70%;
}

/* Søylene : Laget med egen css og egen html*/
.diagram_1 {
  width: 50px;
  height: 170px;
  background: #DEDEDE;
}

.diagram_1_filled {
  height: 0%;
  width: 100%;
  background-color: #003B49;

  transition: height 2s;

}

.diagram_2 {
  width: 50px;
  height: 170px;
  background: #DEDEDE;
}

.diagram_2_filled {
  height: 0%;
  width: 100%;
  background-color: #003B49;
  transition: height 2s;
}

.diagram_3 {
  width: 50px;
  height: 170px;
  background: #DEDEDE;
}

.diagram_3_filled {
  height: 0%;
  width: 100%;
  background-color: #003B49;
  transition: height 2s;
}

.diagram_4 {
  width: 50px;
  height: 170px;
  background: #DEDEDE;

}

.diagram_4_filled {
  height: 0%;
  width: 100%;
  background-color: #003B49;
  transition: height 2s;
}

.diagram_5 {
  width: 50px;
  height: 170px;
  background: #DEDEDE;
}

.diagram_5_filled {
  height: 0%;
  width: 100%;
  background-color: #003B49;
  transition: height 2s;
}

.diagram_6 {
  width: 50px;
  height: 170px;

  background: #DEDEDE;
}

.diagram_6_filled {
  height: 0%;
  width: 100%;
  background-color: #003B49;
  transition: height 2s;
}

.diagram_7 {
  width: 50px;
  height: 170px;
  background: #DEDEDE;
}

.diagram_7_filled {
  height: 0%;
  width: 100%;
  background-color: #003B49;
  transition: height 2s;
}


/* Linjer som deler skjermen */
.horizontal_line {
  width: 70%;
  height: 5px;
  position: absolute;
  top: 55%;
  left:50%;
  transform: translateX(-50%);
  background: #DEDEDE;
  border-radius: 20px;
}



/* Sirkel delen - Budget  */
.budget_page_container {
  width: 40%;
  height: 30%;
  position: absolute;
  top: 60%;
  left: 10%;
  font-size: 25px;
}

.goal_circle {
  position: absolute;
  top: 20%;
  left: 15%;
  width: 60%;
  height: 75%;
  background: #003B49;
  border-radius: 50%;
}

.goal_circle_inside {
  position: relative;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  background-color: #f5f5fd;
  border-radius: 50%;
}

.goal_circle_inside2 {
  position: relative;
  top: -10%;
  left: 48%;
  height: 120%;
  background-color: #f5f5fd;
}

.total_circel {
  position: absolute;
  top: 45%;
  left: 28%;
}

.accomplished_number {
  font-size: 35px;
  display: block;
}

.total_goal_number {
  font-size: 20px;
  margin-left: 40%;
  color:  #A9A9A9;
}

.percent_accomplished_txt {
  position: absolute;
  margin-top: 20px;
  top: 100%;
  left: 20%;
  font-size: 25px;
}

/* Profit delen */

.profit_title {
  font-size: 25px;
  position: absolute;
  bottom: 36%;
  right: 35%;
}

.total_profit_div{
  position: absolute;
  bottom: 15%;
  right: 8%;
}

.total_profit_number {
  font-size: 6vw;
}

.profit_k{
  font-size: 3vw;
}
