* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Futura;
  font-weight: Bold;
  color: #000;
  background-color: #f5f5fd;
}

.main-content{
  position: absolute;
  left: 7%;
  top:0;
  width: 73%;
  height: 100vh;
}

/* Headers */
.home-header {
  margin-left: 5%;
  font-size: 50px;
}

.total-sales-header {
  font-size: 25px;
  margin-left: 10%;
  display: inline-block;
}

.total-past-header{
  display: inline-block;
  color: #A9A9A9;
}

.home-header-div{
  display: flex;
  justify-content: space-between;
  width: 90%;
}


/* Total-sales container */

.total_sales_container {
  width: 100%;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;

}

/* Sales tall skala */
.sales_numbers_container {
  letter-spacing: 1px;
  color: #A9A9A9;
  font-size: 15px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Uke dagene under søyle diagramen */
 .week {
  color: #A9A9A9;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-top: 2%;
  position: relative;
  left:1.7%;

  }

/* Søyle diagram */
.diagrams_container {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

/* Søylene som fyller seg opp ved hjelp av JS og data fra sales module*/
.diagram {
  width: 50px;
  height: 170px;
  background: #DEDEDE;
  transform: rotate(180deg);

}

.diagram-filled {
  height: 0%;
  width: 100%;
  background-color: #003B49;
  transition: 2s;
}

/* Linjer som deler skjermen */
.horizontal_line {
  width: 60%;
  margin:  3% auto 0;
  height: 5px;
  background: #DEDEDE;
  border-radius: 20px;
}

/* Container for budget og profit delen */

.budget-profit-container{
  text-align: center;
  display:flex;
  justify-content:space-around;
  width: 80%;
  margin: auto;
}
/* Budget delen  */
.budget-container{
  width: 50%;
}

.budget-header{
  font-size: 25px;
  margin-bottom: 15%;
}

.budget-sales-header{
 font-size: 1.5vw;
 font-style: italic;
 color:#A9A9A9;
}

.span-sales{
 font-size: 3.5vw;
 font-style: normal;
 color: #000;
}

.budget-total-header{
 font-size: 1.5vw;
 font-style: italic;
 color:#A9A9A9;
}
.span-total{
 font-size: 3.5vw;
 font-style: normal;
 color: #000;
}

/* Profit delen */
.profit-container{
  width: 50%;
}
.profit-header {
  font-size: 25px;
  margin-bottom: 15%;
}
.total_profit_number {
  font-size: 6vw;
}
.profit_k{
  font-size: 3vw;
}

@media screen and (max-width: 920px) {

  .main-content{
    width: 93%;

  }


}
