
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Futura;
}

.main-content{
  display:flex;
}

/* Venstre siden */
.left-screen{
  width: 50%;
  height: 100vh;
  background: red;
  position: relative;
  background:#003B49;
}

.left-screen-header{
  font-size: 1.2vw;
  color:#FFF;
}

.welcome-header-line{
  position: absolute;
  left:15%;
  top:40%;
}

.name-header-line{
  position: absolute;
  left:50%;
  top:50%;
}

/* Høyre siden */
.right-screen{
  width:50%;
  background:#FFF;
  position: relative;
  height: 100vh;
}

/* Nav */
.nav-login{
  display: flex;
  justify-content: space-around;
  font-size: 2.3vw;
  padding-top: 10%;
}

.nav-login-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-button{
  text-decoration:none;
  font-weight: bolder;
  color:#000;
}

.nav-button:hover{
  cursor: pointer;
  transform: scale(1.05)
}

.signin-underline {
  width: 104%;
  height: 12px;
  background: #003B49;
  border-radius: 20px;
}

.createAccount-underline{
  display: none;
}

/* Login inputs */

.login-div{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  font-size: 15px;
}
.login-input{
  border: none;
  outline: none;
  display: inline-block;
}


.username-div{
  display:flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.password-div{
  display:flex;
  flex-direction:column;
}


.password-wrap{
  position: relative;
}

.logout-checkbox{
  margin-top: 5%;
}

.logout-checkbox input{
  width: 24px;
  height: 22px;
  border: 3px solid;
  vertical-align:middle;
}


#toggle_password_eye{
  position: absolute;
  right: 0;
  bottom: 5%;
}

/* Underlines username Input og password input */

.login-underlines{
  position: relative;
  bottom: 6px;
  width: 0;
  height: 6px;
  transition-duration: 600ms;

}

.login-underline-inactive{
  height: 6px;
  border-bottom: 2px solid #a9a9a9;
}

.login-underline-active-to {
  width: 100%;
  height: 6px;
  background: #006a73;
  transition-duration: 600ms;
}

.login_green {
  width: 100%;
  height: 6px;
  background: #28a745;
  opacity: 1;
  overflow: hidden;
}

.login-username-label{
  visibility: hidden;
  font-weight: 600;
  color:#006a73;
}
.login-password-label{
  visibility: hidden;
  font-weight: 600;
  color:#006a73;
}


/* Log in button */
.login-btn-div{
  position: absolute;
  bottom: 10%;
  left:50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}

.login-btn{
  padding: 0.5em 2em;
  background: #003B49;
  color:#fff;
  border-radius: 50px;
  opacity: 0.3;
  border:none;
  font-size: 25px;
  font-family: Futura;
  font-weight: bold;
}

.login-btn-div a{
 margin: 20% auto 0;
 font-size: 13px;
 color:#000;
 font-style: italic;
}

@media screen and (max-width: 920px) {
  .main-content{
    display:block;
  }
  .left-screen{
    display: none;
  }

  .right-screen{
    width: 100%;
  }

  .nav-login{
    font-size: 3.3vw;
  }

  .login-div{
    width: 70%;
  }

  .login-btn{
    font-size: 20px;

  }
}
